/server/node_modules
/server/public/build
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server/public/assets/imgs/products
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
